.text-upper {
  text-transform: uppercase;
}

.font-20 {
  font-size: 20px;
}
.title-size {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 4rem;
}

@media (min-width: 700px) {
  .title-size {
    font-size: 1.5rem;
  }
}
