.text-center {
  text-align: center;
}

.avatar-label {
  /* font-size: 20px; */
  font-weight: bold;
}

.fontsize-1 {
  font-size: 1rem;
}

.container-md {
  max-width: 950px;
  margin: auto;
}

.pl-1 {
  padding-left: 10px;
}

.mt-2 {
  margin-top: 2rem;
}
