.text-center {
  text-align: center;
}

.avatar-label {
  /* font-size: 20px; */
  font-weight: bold;
}

.fontsize-1 {
  font-size: 1rem;
}

.container-md {
  max-width: 950px;
  margin: auto;
}

.pl-1 {
  padding-left: 10px;
}

.mt-2 {
  margin-top: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

.font-20 {
  font-size: 20px;
}
.title-size {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 4rem;
}

@media (min-width: 700px) {
  .title-size {
    font-size: 1.5rem;
  }
}

.country-title-label {
  font-size: 1.1rem !important;
  font-weight: bold !important;
}
